body {
  font-family: "Montserrat";
  text-align: center;
}
h2{
  font-family: "Montserrat-Bold";
}
p{
  color: #8f8f8f;
}

/* Heading Section */
.big-heading{
  font-size: 2.1rem;
  color: white;
}
#title{
  text-align: left;
}
#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}
.container{
  padding: 3% 15% 7%;
}

/* Section */
.colored-section{
  background-color: #ff4c88;
  color: #fff;
}

.white-section{
  background-color: white;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-item{
  padding: 0 10px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.downloadbutton {
  margin: 5% 3% 5% 0;
}

/* tilteimage */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%
}

/* Feature icon */
.feature-icon{
  color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c88;
}
.feature-box{

}
.feature-title{
  font-size: 1.5rem;
}
/* Testimonial section */
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
    background-color: #ef8172;

    padding-bottom: 3
  }
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
  }
.carousel-item{
  padding: 7% 15%;
}


/* Priciong section */
#pricing{
  padding: 100px 100px 50px;
}
.pricing-col{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.price-header{
  font-size: 1.5rem;
}
@media (max-width: 995px){
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

/* Call To action */
#cta{
  line-height: 2;
  padding: 70px 250px 70px;

}

/* Footer */
#footer{
  text-align: center;
  font-family: "Montserrat-Bold";
  padding: 70px 10px 70px;
}
.contact-icon{
  padding-left: 7px;
  padding-right: 7px;
}
